<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Task 1</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
  <div ng-app="trainingApp" class="row col‐sm‐10 col-xs-8" style="background-color:grey; margin: 5px">

    <div ng-init="rootScopeValue='shared root scope value'"></div>
    <div ng-controller="parentCtrl1" class="col-sm-8 col-xs-8"  style="background-color:yellow; margin: 5px">

      <input ng-model="rootScopeValue" />
      {{rootScopeValue}}

      <div ng-controller="ChildCtrl1" class="col-sm-8 col-xs-6"  style="background-color:red; margin: 5px">
        <input ng-model="rootScopeValue" />
        {{rootScopeValue}}
      </div>
      <br>
      <div ng-controller="ChildCtrl2" class="col-sm-8 col-xs-6"  style="background-color:blue; margin: 5px">
        <input ng-model="rootScopeValue" />
        {{rootScopeValue}}
      </div>

    </div>
    <div ng-controller="parentCtrl2" class="col-sm-8 col-xs-8"  style="background-color:orange; margin: 5px">
    
      <input ng-model="rootScopeValue" />
      {{rootScopeValue}}

    </div>

  </div>
</body>
</html>